@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

html
{
	background: #7F7F7F url("../../images/bg.jpg") no-repeat center top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9000000000004px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 128px;
}

#u612-5
{
	z-index: 26;
	width: 277px;
	min-height: 17px;
	margin-left: 245px;
}

#u686-4
{
	z-index: 97;
	width: 403px;
	min-height: 61px;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 182px;
	margin-top: 36px;
	position: relative;
}

#u685-10
{
	z-index: 87;
	width: 705px;
	min-height: 102px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 32px;
	position: relative;
}

#pu669
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 101px;
	position: relative;
}

#u669
{
	z-index: 31;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u675
{
	z-index: 37;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 188px;
}

#u671
{
	z-index: 33;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u673
{
	z-index: 35;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	left: 563px;
}

#ppu681-7
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 19px;
	position: relative;
}

#u681-7
{
	z-index: 61;
	width: 194px;
	min-height: 36px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u683-7
{
	z-index: 74;
	width: 189px;
	min-height: 36px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u677-7
{
	z-index: 39;
	width: 194px;
	min-height: 36px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u679-7
{
	z-index: 50;
	width: 194px;
	min-height: 36px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 181px;
}

#u681-2,#u683-2,#u677-2,#u679-2
{
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u681-5,#u683-5,#u677-5,#u679-5
{
	font-size: 18px;
	color: #009DFF;
}

#u681-3,#u683-3,#u677-3,#u679-3
{
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#ppu682-6
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 53px;
	position: relative;
}

#pu681-7,#pu682-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u682-6
{
	z-index: 68;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u684-6
{
	z-index: 81;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u678-4
{
	z-index: 46;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u680-4
{
	z-index: 57;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#pu600
{
	width: 0.01px;
	margin-top: 31px;
	position: relative;
}

#u600
{
	z-index: 2;
	width: 768px;
	padding-bottom: 44px;
	margin-right: -10000px;
}

#u603-5
{
	z-index: 11;
	width: 176px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 67px;
}

#pu604-5
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 297px;
}

#u604-5
{
	z-index: 16;
	width: 176px;
	min-height: 37px;
}

#u601-4
{
	z-index: 3;
	width: 175px;
	min-height: 33px;
	margin-top: 19px;
}

#u605-5
{
	z-index: 21;
	width: 176px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 528px;
}

#u602-4
{
	z-index: 7;
	width: 768px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 143px;
}

#page .verticalspacer
{
	clear: both;
}

