#u612-5
{
	color: #FFFFFF;
	text-align: center;
	font-size: 72px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u612
{
	color: #61CCEA;
}

#u612-2
{
	color: #63CDEB;
}

#u600
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u601-4
{
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	line-height: 1.8;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u603-5,#u604-5,#u605-5
{
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: arimo, sans-serif;
	font-weight: 400;
	position: relative;
}

#u603,#u604,#u605
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u602-4
{
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 1.8;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

