html
{
	background: #7F7F7F url("../images/bg.jpg") no-repeat center top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1279px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 62px;
}

#u75-5
{
	z-index: 2;
	width: 277px;
	min-height: 17px;
	margin-left: 341px;
}

#u326-4
{
	z-index: 97;
	width: 920px;
	min-height: 61px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 20px;
	margin-top: 76px;
	position: relative;
}

#u296-10
{
	z-index: 87;
	width: 920px;
	min-height: 150px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#pu268
{
	width: 0.01px;
	margin-left: 86px;
	margin-top: 52px;
	position: relative;
}

#u268
{
	z-index: 31;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u274
{
	z-index: 37;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u270
{
	z-index: 33;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u272
{
	z-index: 35;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	left: 639px;
}

#pu276-7
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 37px;
	position: relative;
}

#u276-7
{
	z-index: 39;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u278-7
{
	z-index: 50;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 222px;
}

#u280-7
{
	z-index: 61;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u282-7
{
	z-index: 74;
	width: 258px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#u276-2,#u278-2,#u280-2,#u282-2
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u276-5,#u278-5,#u280-5,#u282-5
{
	color: #009DFF;
}

#u276-3,#u278-3,#u280-3,#u282-3
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#pu277-4
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 47px;
	position: relative;
}

#u277-4
{
	z-index: 46;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u279-4
{
	z-index: 57;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 222px;
}

#u281-6
{
	z-index: 68;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u283-6
{
	z-index: 81;
	width: 194px;
	min-height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 639px;
}

#u301
{
	z-index: 7;
	width: 1160px;
	left: -100px;
	margin-top: 199px;
}

#u301_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 45px;
	padding-bottom: 6px;
}

#pu358-5
{
	width: 0.01px;
	left: 212px;
	position: relative;
}

#u358-5
{
	z-index: 16;
	width: 176px;
	min-height: 37px;
	margin-right: -10000px;
}

#u359-5
{
	z-index: 21;
	width: 176px;
	min-height: 37px;
	margin-right: -10000px;
	left: 279px;
}

#u360-5
{
	z-index: 26;
	width: 176px;
	min-height: 37px;
	margin-right: -10000px;
	left: 559px;
}

#u321-4
{
	z-index: 8;
	width: 175px;
	min-height: 52px;
	left: 492px;
	margin-top: 66px;
}

#u342-4
{
	z-index: 12;
	width: 920px;
	min-height: 27px;
	left: 120px;
	margin-top: 26px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

