@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background: #7F7F7F url("../../images/bg.jpg") no-repeat center top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1209px;
}

#page_position_content
{
	margin-top: 71px;
}

#u599-5
{
	z-index: 2;
	width: 277px;
	min-height: 17px;
	margin-left: 52px;
}

#u708-4
{
	z-index: 91;
	width: 197px;
	min-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 90px;
	margin-top: 19px;
	position: relative;
}

#u707-4
{
	z-index: 87;
	width: 357px;
	min-height: 66px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 6px;
	position: relative;
}

#u691
{
	z-index: 31;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u699-7
{
	z-index: 39;
	width: 194px;
	min-height: 36px;
	text-align: center;
	position: relative;
}

#u700-4
{
	z-index: 46;
	width: 151px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 21px;
	position: relative;
}

#u697
{
	z-index: 37;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u701-7
{
	z-index: 50;
	width: 194px;
	min-height: 36px;
	text-align: center;
	position: relative;
}

#u702-4
{
	z-index: 57;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u693
{
	z-index: 33;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#pu699-7,#pu701-7,#pu703-7
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 161px;
}

#u703-7
{
	z-index: 61;
	width: 194px;
	min-height: 36px;
	text-align: center;
	position: relative;
}

#u704-6
{
	z-index: 68;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 1px;
	position: relative;
}

#pu691,#pu697,#pu693,#pu695
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 36px;
	position: relative;
}

#u695
{
	z-index: 35;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#pu705-7
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 161px;
}

#u705-7
{
	z-index: 74;
	width: 189px;
	min-height: 36px;
	text-align: center;
	margin-left: 3px;
	position: relative;
}

#u699-2,#u701-2,#u703-2,#u705-2
{
	font-size: 12px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u699-5,#u701-5,#u703-5,#u705-5
{
	font-size: 18px;
	color: #009DFF;
}

#u699-3,#u701-3,#u703-3,#u705-3
{
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u706-6
{
	z-index: 81;
	width: 194px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 1px;
	position: relative;
}

#pu606
{
	width: 0.01px;
	margin-top: 71px;
	position: relative;
}

#u606
{
	z-index: 7;
	width: 348px;
	margin-right: -10000px;
	padding: 25px 5px 27px 27px;
}

#pu609-5
{
	width: 0.01px;
	position: relative;
}

#u609-5
{
	z-index: 16;
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
}

#u610-5
{
	z-index: 21;
	width: 110px;
	min-height: 19px;
	margin-right: -10000px;
	left: 119px;
}

#u611-5
{
	z-index: 26;
	width: 110px;
	min-height: 21px;
	margin-right: -10000px;
	left: 238px;
}

#u607-4
{
	z-index: 8;
	width: 175px;
	min-height: 26px;
	margin-left: 76px;
	margin-top: 16px;
}

#u608-4
{
	z-index: 12;
	width: 380px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 88px;
}

#page .verticalspacer
{
	clear: both;
}

